<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <form action="/models/" method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="lat">Latitude:</label>
    <input type="text" id="lat" name="lat"><br><br>

    <label for="lon">Longitude:</label>
    <input type="text" id="lon" name="lon"><br><br>

    <label for="url">URL:</label>
    <input type="text" id="url" name="url"><br><br>

    <input type="submit" value="Submit">

  </form>


</body>

</html>